<%- include("templates/header") %> <% if (!session.authenticated) { %>
<div class="con">
  <form action="/signup" method="get" style="margin-right: 10px;">
    <button class="btn btn-primary">Sign Up</button>

  </form>

  <form action="/login" method="get">
    <button class="btn btn-primary">Log in</button>

  </form>
</div>

<% } else { %>

<div class="con conCol">
  <p>hello <%= session.username %>!</p>
  <form action="/members" method="get">
    <button class="btn btn-primary">Go to members area</button>

  </form>
  <hr />
  <form action="/logout" method="get">
    <button class="btn btn-primary">Log out</button>

  </form>
</div>
<% } %> <%- include("templates/footer") %>